/* #Start settings */
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
abbr{
    text-decoration: none;
}

hr {
    border: 1.5px solid black;
}

.web_text {
    font-family: BNAZANIN;
    padding-top: 20px;
    text-align: center;
}

/* start font */
@font-face {
    font-family: BTITRBD;
    src: url(../fonts/BTITRBD.TTF);
}

@font-face {
    font-family: BNAZANIN;
    src: url(../fonts/BNAZANIN.TTF);
}

@font-face {
    font-family: BBADR;
    src: url(../fonts/BBADR.TTF);
}

@font-face {
    font-family: BZARBOLD;
    src: url(../fonts/BZARBOLD.TTF);
}
/* end font */
/* start reveal */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

footer.reveal.active {
    opacity: 50;
    transform: translateY(0);
}
/* end reveal */
/* start box */
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 40vh auto;
}

.box h1{
    font-size: 55px;
}
/* end box */
/* End settings */